**/.DS_Store
.idea/
*.iml
target/
.classpath
.project
.settings/
CompressorTest*.jpg
Base.jpg
Top.jpg
outputs/
work
dev.yml
src/test/resources/fitnotes/
src/test/resources/output/
Dockerfile
Jenkinsfile
CHANGELOG.md

